[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bufexplorer.zip"]
	path = bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
